<div class='outer_container'>
	<div class='side_nav'>
		<div class='title'>
			<br>
			<a href='/'>TEKTIVE<br>
			DESIGN</a>
		</div>
		<ul class='links'>
			<li><a href='residential' class='nav_link'>Residential</a>
			<li><a href='passive_house' class='nav_link'>Passive House</a>
			<li><a href='studio' class='nav_link'>Studio</a>
			<li><a href='workshop' class='nav_link'>Workshop</a>
			<li><a href='about' class='active_nav_link'>About</a>						
		</ul>
		<%= image_tag 'about/contact.jpg' %>
	</div>
	
	<div class='ph_description'>	
	
			
			<p class='description_text'>
				Tektive Design is a Northern California based consulting firm focused on
				sustainable residential design.  The philosophy is to engage the aspirations
				of a client and the spirit of a place as catalysts for performative design
				that intensifies the connections of a home\'s inhabitants with each other,
				their community, and the surrounding ecosystem.   
				<br>
				Pearl Renaker worked in the high-tech software industry as a product
				manager at Google for several years and recently switched careers to
				pursue her passion for design.  She holds a B.S. in computer science
				from Yale University,  an MBA from Stanford, and a Master of Architecture
				degree from the California College of the Arts.
				<br>
				Pearl is a Certified Passive House Consultant and LEED AP.
			</p>
		</div>
		
		
	<div class='big_image'>	
		<%= image_tag 'about/pearl.jpg', :class => 'about_content_img' %>			
	</div>
