<div class='index_outer'>
	<div class='content'>
		<div class='top_nav'>
			<div class='title'>
				<br>
				<a href='/'>TEKTIVE
				DESIGN</a>
			</div>
			<ul class='links'>
				<li><%= link_to "Residential", welcome_residential_path %>
			
				<li><a href='passive_house.php' class='nav_link'>Passive House</a>
				<li><a href='studio.php' class='nav_link'>Studio</a>
				<li><a href='workshop.php' class='nav_link'>Workshop</a>
				<li><a href='about.php' class='nav_link'>About</a>
					
			</ul>
		</div>	
		
		<div class='lampshade'>
			<img src='assets/workshop/lampshade_lg.jpg'>
		</div>
		
		<div class='footer'>
		</div>
	</div>
</div>