<div class='outer_container'>
	<div class='side_nav'>
		<div class='title'>
			<br>
			<a href='/'>TEKTIVE<br>
			DESIGN</a>
		</div>
		<ul class='links'>
			<li><a href='residential' class='nav_link'>Residential</a>


			<li><a href='passive_house' class='nav_link'>Passive House</a>
	

			<li><a href='studio' class='nav_link'>Studio</a>
			<li><a href='workshop' class='nav_link'>Workshop</a>
			<li><a href='about' class='nav_link'>About</a>						
		</ul>
	</div>
	
	<div class='ph_description'>	
	
			
			<p class='description_text'>
				Passive House is an energy performance standard
				and systematic approach for designing energy-
				efficient houses.  Demand for heating and cooling
				energy is reduced by up to 90% compared
				to typical construction, while the indoor air
				quality and comfort of the inhabitants is improved.
				<br>
				The Passive House approach starts with a
				well insulated, tightly sealed building envelope. 
				An energy recovery ventilator provides a
				constant flow of fresh air into the house while
				capturing and reusing heat energy (or cooling
				energy in the summer).   Carefully planned
				solar gains warm the house in the winter
				while shading elements shield the house in
				the summer.  The comfort and durability of
				the house are improved as cold windows,
				drafts, and leaks causing condensation and
				mold growth are eliminated.
				<br>
				Buildings in the United States annually
				consume 39% of the country\'s energy use
				and 68% of its electricity.  Decisions made
				in new construction today have impacts
				lasting for 20, 50, 100 or more years.
				<br>
				Building a new home or remodeling an
				existing home is an ideal opportunity to
				increase energy efficiency and reduce your
				environmental impact.
				<br>
				For more information:
				<ul class="ph_ul">
					<li class="ph_li"><a href="http://www.passivehouse.us">Passive House Institute U.S.</a>
					<li class="ph_li"><a href="http://www.passivehouseca.org">Passive House California</a>
					<li class="ph_li"><a href="http://www.nytimes.com/2010/09/26/business/energy-environment/26smart.html">New York Times article:  "A Brighter Shade of Green"</a>
				</ul>
			</p>
		</div>
		
		
	<div class='ph_big_image'>	
		<%= image_tag 'passive_house/ph.jpg', :class => 'content_img' %>			
	</div>
